<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <%= link_to image_tag(item.image.url(:medium), class: 'card-img-top'), item_path(item) if item.image? %>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to item.title, admin_item_path(item) %>
      </h4>
      <h5>$ <%= item.price %></h5>
      <p class="card-text">
        <%= truncate(strip_tags(item.description),length: 80) %>
      </p>
    </div>
    <div class="card-footer">
      <small>
        <time><%= item.created_at.to_date.strftime("%d %B, %Y") %></time>
        <% if user_signed_in? %>
          |
          <%= link_to 'Show', admin_item_path(item) %>
          |
          <%= link_to 'Edit', edit_admin_item_path(item) %>
          |
          <%= link_to 'Destroy', [:admin, item], method: :delete, data: { confirm: 'Are you sure ?'  } %>
        <% else %>
          |
          <%= link_to item.category.name, item.category %>
        <% end %>
      </small>
    </div>
  </div>
</div>
