<%= render 'shared/submenu' %>

<div class="col-lg-9">
  <div class="card mt-4">
    <%= image_tag @item.image.url(:large, class: 'card-img-top img-fluid') if @item.image? %>
    <div class="card-body">
      <h3 class="card-title"><%= @item.title %></h3>
      <strong class="status"><%= @item.status.humanize %></strong>
      <h4>$ <%= @item.price %></h4>
      <p class="card-text"><%= @item.description.html_safe %></p>
      <% if @item.user.present? %>
          <p>Added: <%= @item.user.email %></p>
      <% end %>
    </div>
  </div>
  <div class="card card-outline-secondary my-4">
    <div class="card-header">
      To write a message(responsible for several hours): <button type="button" class="btn btn-info">Write message</button>
    </div>
  </div>
</div>
