<%= render 'common/errors', resource: @category %>

<%= form_for @category do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit t('.submit', action: @category.new_record? ? t('common.create') : t('common.edit')), class: 'btn btn-primary' %>
  </div>

  <br>

<% end %>
