<!DOCTYPE html>
<html lang="en">

  <head>

    <%= render 'layouts/rails_default' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>

    <title>Usagle. The new age marketplace || Home</title>

  </head>

  <body class='<%= controller.controller_name %>'>

    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %>">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render 'layouts/nav' %>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/scripts' %>

  </body>

</html>
